/* TT.FM Squared Container */
#tt2_container { position:absolute; top: 10px; right: 10px; margin: 0; padding: 0; background: #333; color: #FFF; font-size: 12px; line-height: 18px; overflow-x: hidden; overflow-y: auto; }
#tt2_container h3 { padding: 4px 10px; margin: 0; font-size: 22px; line-height: 22px; font-weight: bold; background: #9cba9e; color: #000; vertical-align: middle; overflow: hidden; }

#tt2_nav { list-style: none; }
#tt2_nav li { list-style: none; float: right; display: inline; margin-right: 5px; font-size: 12px; }
#tt2_nav li:first-child { margin-right: 0; }
#tt2_nav .btn { background: #222623; font-size: 12px; padding: 4px 6px; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; color: #fff; text-decoration: none; box-shadow: 1px 1px 1px #000; -moz-box-shadow: 1px 1px 1px #000; -webkit-box-shadow: 1px 1px 1px #000; cursor: pointer; }
#tt2_nav .btn:hover { background: #323633; }
#tt2_nav .btn.selected { line-height: 22px; vertical-align: middle; background: #000; box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none; }


.floatleft { float: left; display: inline; }
.floatright { float: right; display: inline; }

#tt2_container { overflow: hidden; }
#tt2_container h4 { padding: 4px 10px; margin-bottom: 0; font-size: 18px; line-height: 18px; font-weight: bold; background: #5C755E; color: #FFF; }
#tt2_container h5 { padding: 4px 10px; margin: 0; font-size: 14px; line-height: 14px; font-weight: bold; background: #222; }
#tt2_container ul.stats { padding: 0 10px; }
#tt2_container ul.stats li { padding: 2px 0; border-top: 1px dotted #222; }
#tt2_container ul.stats li:first-child { border-top: none; }
#tt2_container ul.stats li span { float: right; display: inline; text-align: right; }

#tt2_container .toggleAccordion { cursor: pointer; }
#tt2_container .accordion { padding: 10px 10px 0; }
#tt2_container .hidden { display: none; }
#tt2_container .fullheight { overflow-x: hidden; overflow-y: auto; }

/* cover art */
#tt2_stats_current_coverart { overflow: hidden; padding: 10px 10px 0; }
#tt2_stats_current_coverart .songinfo { }
#tt2_stats_current_coverart .songinfo p { margin: 0; }
#tt2_stats_current_coverart .songinfo p span { float:left; display:inline; width:100px; }
#tt2_stats_current_coverart .songinfo p strong { font-weight: bold; }
#tt2_stats_current_coverart img,
#tt2_stats_current_coverart .img { float: left; display: inline; width: 150px; height: 150px; margin: 0 10px 10px 0; background: #222; border: 4px solid #222; }
#tt2_stats_current_coverart .img100 { width: 100px; height: 100px; }

/* options */
#tt2_settings .accordion div { margin-bottom: 8px; }
#tt2_settings .accordion div.clearfix { overflow: hidden; }
#tt2_settings .accordion div.check { float: left; display: inline; background: #222; border: 1px solid #111; padding: 2px 4px; margin: 0 8px 8px 0; min-width: 200px; }
#tt2_settings .accordion div.col { float: left; display: inline; width: 125px; margin: 0 10px 10px 0; }
#tt2_settings .accordion div input.checkbox { background: #fff; border: 1px solid #999; }
#tt2_settings .accordion div input.tiny { width: 50px; }
#tt2_settings .accordion div input,
#tt2_settings .accordion div textarea { font-size: 11px; line-height: 11px; background: #fff; color: #222; border: 1px solid #999; margin: 0; }
#tt2_settings .accordion div textarea { display: block; height: 72px; width: 100%; }
#tt2_settings .accordion div .note { display: block; font-size: 10px; color: #999; padding: 4px; }

/* similar tracks */
#similar_tracks { display: none; clear: both; margin-top: 10px; }
#similar_tracks .scroller { overflow-x: hidden; overflow-y: auto; max-height: 200px; }
#similar_tracks table { width: 100%; margin: 10px 10px 0 0; border-collapse: collapse; border: none; border-spacing: 0; line-height: 12px; }
#similar_tracks table thead th { padding: 8px 4px; text-align: left; }
#similar_tracks table tbody tr { background: #2c2c2c; }
#similar_tracks table tbody tr.alt { background: #292929; }
#similar_tracks table tbody tr td { border: 1px solid #222; height: 32px; padding: 4px; }
#similar_tracks table tbody tr td a { display: block; }
#similar_tracks table tbody tr td img,
#similar_tracks table tbody tr td .img { width: 32px; height: 32px; background: #222; }

/* fix chat container styling */
#tt2_chat_box { position: relative; }
#tt2_chat_box .chat-container { position: absolute !important; top: 0 !important; left: 0 !important; height: auto; }
#tt2_chat_box .chat-container .messages .message { width: 100%; }
#tt2_chat_box .chat-container .chatBar { width: 100%; background: transparent; }
#tt2_chat_box .chat-container .chatBar .guestListButton { display: none !important; }
#tt2_chat_box .chat-container .chatBar .input-box { width: 100%; background: transparent; border-left: none; left: 0 !important; }
#tt2_chat_box .chat-container .chatBar .input-box input { position: relative; height: 26px !important; top: 2px !important; left: 0 !important; width: 100% !important; background: #fff; border-left: none !important;  }

#tt2_chat_box .guest-list-container .chatBar { width: 100%; }
#tt2_chat_box .guest-list-container .chatBar .guestListButton { display: none !important; }
#tt2_chat_box .guest-list-container .chatBar .guestListSize { left: 0; bottom: 0; width: 100%; }
#tt2_chat_box .guest-list-container .guestIdle { position: absolute; top: 0; right: 20px; width: 50px; height: 24px; line-height: 24px; color: #bbb; overflow: hidden; text-align: right; }
#tt2_chat_box .guest-list-container .guests .isMod { background-color: #D0EDD2; }
#tt2_chat_box .guest-list-container .guests .isDj .guestIdle,
#tt2_chat_box .guest-list-container .guests .isMod .guestIdle { color: #999; }
#tt2_chat_box .guest-list-container .guests .isIdle .guestIdle { color: #333; }

#tt2_chat_box .guest-list-container .guests .isDj { background-color: #A8C4DD; }
#tt2_chat_box .guest-list-container .guests .isIdle { background-color: #F4D2D2 !important; }
#tt2_chat_box .guest-list-container .guests .isMod.isDj { background-color: #ADEAB1; }

/* Custom Buttons */
.btn {
    white-space: nowrap;
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    color: #FFF;
    font: bold 11px/1 "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
    padding: 7px 10px 8px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    overflow: hidden;
}

.btnBlack {
    background-color: #000;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#333), to(#000));
    background-image: -webkit-linear-gradient(top, #333, #000);
    background-image: -moz-linear-gradient(top, #333, #000);
    background-image: -ms-linear-gradient(top, #333, #000);
    background-image: -o-linear-gradient(top, #333, #000);
    background-image: linear-gradient(top, #333, #000);
    border: none;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 0 0 #96CA6D inset;
    -moz-box-shadow: 0 1px 0 0 #96CA6D inset;
    -webkit-box-shadow: 0 1px 0 0 #96CA6D inset;
    text-shadow: 0 -1px 0 #4C9021;
}

.btnGreen {
    background-color: #7FBF4D;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#7FBF4D), to(#63A62F));
    background-image: -webkit-linear-gradient(top, #7FBF4D, #63A62F);
    background-image: -moz-linear-gradient(top, #7FBF4D, #63A62F);
    background-image: -ms-linear-gradient(top, #7FBF4D, #63A62F);
    background-image: -o-linear-gradient(top, #7FBF4D, #63A62F);
    background-image: linear-gradient(top, #7FBF4D, #63A62F);
    border-color: #63A62F #63A62F #5B992B;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 0 0 #96CA6D inset;
    -moz-box-shadow: 0 1px 0 0 #96CA6D inset;
    -webkit-box-shadow: 0 1px 0 0 #96CA6D inset;
    text-shadow: 0 -1px 0 #4C9021;
}

.btnBlue {
    background-color: #A5B8DA;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#A5B8DA), to(#7089B3));
    background-image: -webkit-linear-gradient(top, #A5B8DA, #7089B3);
    background-image: -moz-linear-gradient(top, #A5B8DA, #7089B3);
    background-image: -ms-linear-gradient(top, #A5B8DA, #7089B3);
    background-image: -o-linear-gradient(top, #A5B8DA, #7089B3);
    background-image: linear-gradient(top, #A5B8DA, #7089B3);
    border-color: #758FBA #6C84AB #5C6F91;
    -moz-box-shadow: 0 1px 0 0 #AEC3E5 inset;
    -webkit-box-shadow: 0 1px 0 0 #AEC3E5 inset;
    box-shadow: 0 1px 0 0 #AEC3E5 inset;
    text-shadow: 0 -1px 1px #64799E;
}

.btnRed {
    background-color: #EE432E;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#EE432E), to(#B51700));
    background-image: -webkit-linear-gradient(top, #EE432E, #B51700);
    background-image: -moz-linear-gradient(top, #EE432E, #B51700);
    background-image: -ms-linear-gradient(top, #EE432E, #B51700);
    background-image: -o-linear-gradient(top, #EE432E, #B51700);
    background-image: linear-gradient(top, #EE432E, #B51700);
    border-color: #951100;
    box-shadow: 0 0 0 1px rgba(255, 115, 100, 0.4) inset, 0 1px 3px #333;
    -moz-box-shadow: 0 0 0 1px rgba(255, 115, 100, 0.4) inset, 0 1px 3px #333;
    -webkit-box-shadow: 0 0 0 1px rgba(255, 115, 100, 0.4) inset, 0 1px 3px #333;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.8);
}

.itunesIcon {
    float: left;
    display: inline;
    width: 16px;
    height: 16px;
    margin: 0 8px 0 8px;
    background: url(https://github.com/cballou/Turntable.FM-Squared/raw/master/icons/itunes-32.png) 0 0 no-repeat;
}

.plusIcon {
    float: left;
    display: inline;
    width: 16px;
    height: 16px;
    margin: 0 8px 0 8px;
    background: url(https://github.com/cballou/Turntable.FM-Squared/raw/master/icons/plus.png) 0 0 no-repeat;
}

/* TT.FM overrides */
#outer { margin: 0 !important; }
#footer { text-align: left !important; }
